**/target
**/.metadata
**/.mvn

**/.DS_Store
**/.Trashes

**/META-INF/

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr
